@media screen and (max-width: 479px) {
    .w-container {
        max-width: none
    }
    .w-hidden-main,
    .w-hidden-medium,
    .w-hidden-small {
        display: inherit !important
    }
    .w-hidden-tiny {
        display: none !important
    }
    .w-col {
        width: 100%
    }
    .w-col-tiny-1 {
        width: 8.33333333%
    }
    .w-col-tiny-2 {
        width: 16.66666667%
    }
    .w-col-tiny-3 {
        width: 25%
    }
    .w-col-tiny-4 {
        width: 33.33333333%
    }
    .w-col-tiny-5 {
        width: 41.66666667%
    }
    .w-col-tiny-6 {
        width: 50%
    }
    .w-col-tiny-7 {
        width: 58.33333333%
    }
    .w-col-tiny-8 {
        width: 66.66666667%
    }
    .w-col-tiny-9 {
        width: 75%
    }
    .w-col-tiny-10 {
        width: 83.33333333%
    }
    .w-col-tiny-11 {
        width: 91.66666667%
    }
    .w-col-tiny-12 {
        width: 100%
    }
    .w-nav[data-collapse=tiny] .w-dropdown,
    .w-nav[data-collapse=tiny] .w-dropdown-toggle {
        display: block
    }
    .w-nav[data-collapse=tiny] .w-dropdown-list {
        position: static
    }
    .w-nav[data-collapse=tiny] .w-nav-menu {
        display: none
    }
    .w-nav[data-collapse=tiny] .w-nav-button {
        display: block
    }
    .w-tab-link {
        display: block
    }
}

@media (max-width: 479px) {
    ._1200-container.light.how,
    ._1200-container.light.our-eyewear {
        padding-bottom: 0
    }
    ._1200-container.flex.editorial.inverse.striped,
    ._1200-container.quiz.your-needs.module,
    .section {
        padding-top: 20px
    }
    ._1200-container.quiz.your-needs,
    .button.primary,
    .floating-cell.h1._7col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    .block-line,
    .button.primary,
    .div-block-10,
    .div-block-6,
    .dropdown-list.w--open,
    .floating-cell.h1._7col,
    .poc-block.web-experiment-3,
    .primary-action.layout-2 {
        -webkit-box-direction: normal
    }
    ._1200-container.flex {
        padding-right: 20px;
        padding-left: 20px
    }
    ._1200-container.flex.editorial {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left
    }
    ._1200-container.flex.top {
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: none;
    }
    ._1200-container.footer.app,
    ._1200-container.light.how {
        padding-right: 20px;
        padding-left: 20px
    }
    .section.footer,
    .section.quiz.step {
        padding-bottom: 40px;
        padding-top: 100px !important;
    }
    ._1200-container.upper {
        overflow: hidden
    }
    ._1200-container.home-header-content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    ._1200-container.quiz {
        padding-right: 0;
        padding-left: 0
    }
    ._1200-container.quiz.your-needs {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .section {
        display: block
    }
    .section.header {
        height: 824px;
        background-position: 70% 100%;
        background-size: auto 420px
    }
    .section.header.home {
        height: 600px;
        height: fit-content;
        padding-top: 0;
        background-position: 67% 70%;
        background-size: cover;
    }
    .section.footer,
    .section.lined.demo {
        padding-top: 40px
    }
    .section.lined.promise {
        height: auto;
        padding-top: 40px;
        background-position: left;
        background-size: cover;
    }
    .section.lined.testimonial {
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat
    }
    .section.galery {
        display: none
    }
    .brand.internal,
    .primary-action.layout-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }
    .section.footer.assessment-page.web-experiment {
        background-image: url(img/5b1ea2f6e0c922a085eeb27c_CTA_PANEL_2.jpg);
        background-position: 0 100%;
        background-size: cover;
        background-repeat: repeat;
        opacity: 1
    }
    .poc-block,
    .poc-block.pb4 {
        background-position: 50% 0
    }
    .poc-block,
    .poc-block.pb2 {
        background-size: auto 228px
    }
    .section.quiz.step {
        padding-top: 10px
    }
    .section.quiz.light.bottom {
        padding-bottom: 188px
    }
    .floating-cell.h1._7col {
        position: static;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        /* background-image: -webkit-linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0) 46%); */
        /* background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 46%) */
    }
    .floating-cell._7col.gaped {
        width: 100%;
        margin-left: 15px;
        padding-right: 1px
    }
    .floating-cell._7col.edito-header {
        padding-right: 0;
        padding-left: 0
    }
    .floating-cell._7col.edito-body {
        padding-right: 0
    }
    .floating-cell._7col.choices {
        width: 100%
    }
    .floating-cell.vision.left {
        margin-bottom: 40px;
        padding-right: 10px;
        padding-left: 10px
    }
    .floating-cell.top {
        width: auto;
        height: 40px;
        padding-left: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .brand {
        width: auto;
        text-decoration: none;
    }
    .brand.internal {
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: center
    }
    .button.primary {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 24px
    }
    .button.main-dl,
    .submentions {
        position: relative;
        -webkit-box-flex: 0
    }
    .button.detailed {
        margin-bottom: 40px
    }
    .button.main-dl {
        top: 0;
        right: 21px;
        overflow: visible;
        width: 135px;
        padding-top: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .button.main-dl.occurence {
        position: relative;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left
    }
    .primary-action {
        position: relative;
        bottom: 0;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center
    }
    .primary-action.symptoms-cta {
        width: 80%;
        padding-right: 0;
        padding-left: 0
    }
    .primary-action.layout-2 {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        text-align: left
    }
    .heading-2.what.edito.firstname,
    .pane-copy-2.assessment-page {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }
    .copy.block,
    .copy.semilight,
    .heading-2.panes.centered,
    .heading-2.what.compact.demo-version,
    .heading-2.what.compact.left {
        text-align: center
    }
    .submentions {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .copy.bold.main {
        padding-right: 0;
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0
    }
    .copy.light {
        width: 100%;
        font-weight: 400
    }
    .copy.light.tab {
        color: rgba(75, 75, 75, .5);
        font-size: 14px;
        line-height: 20px;
        font-weight: 400
    }
    .copy.light.compact {
        font-size: 14px;
        line-height: 18px
    }
    .copy.semilight.aligned.spaced {
        margin-bottom: 20px;
        padding-right: 0
    }
    .copy.quiz.header,
    .copy.quiz.header-quiz-result {
        margin-bottom: 60px;
        padding-right: 0;
        padding-left: 0
    }
    .heading-2 {
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 38px
    }
    .heading-2.panes.spaced {
        margin-bottom: 6px
    }
    .heading-2.what {
        margin-top: 0;
        padding-right: 0;
        padding-left: 0
    }
    .tabs-menu,
    .tabs-menu.your-needs,
    .toggle-link {
        padding-right: 20px;
        padding-left: 20px
    }
    .heading-2.what.edito {
        line-height: 40px
    }
    .heading-2.what.edito.firstname {
        display: flex;
        width: 100%;
        margin-bottom: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .heading-2.what.edito.static {
        display: none
    }
    .heading-2.what.compact {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 34px;
        line-height: 38px
    }
    .heading-2.what.compact.demo-version.kicker {
        font-size: 18px
    }
    .heading-2.what.compact.left.light {
        margin-bottom: 40px
    }
    .heading-2.our-eyewear-heading {
        margin-top: 20px;
        margin-bottom: 40px;
        line-height: 38px
    }
    .heading-2.promise {
        margin-top: 20px;
        font-size: 32px;
        line-height: 38px
    }
    .heading-2.innovative {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-right: 20px;
        padding-left: 0;
        font-size: 34px;
        line-height: 42px;
        text-align: left
    }
    .heading-2.edito.quote {
        margin-top: 0;
        padding-left: 0;
        background-color: hsla(0, 0%, 100%, 0);
        font-size: 28px;
        line-height: 42px
    }
    .heading-2.edito.quote.inverse {
        background-color: #fff;
        font-size: 28px;
        line-height: 42px;
        text-align: left
    }
    .heading-2.edito.quote.inverse.exception-2 {
        width: 100%;
        margin-left: 0;
        padding-left: 30px;
        font-size: 32px;
        line-height: 40px
    }
    .heading-2.edito.quote.exception,
    .heading-2.edito.quote.exception-title {
        padding-left: 20px;
        font-size: 32px;
        line-height: 40px
    }
    .heading-2.slider-quote {
        font-size: 26px;
        line-height: 36px
    }
    .block-line {
        margin-right: 0;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .poc-block {
        height: 345px;
        margin-bottom: 60px
    }
    .poc-block.pb3,
    .poc-block.pb4 {
        background-size: auto 229px
    }
    .poc-block.pb4 {
        height: 325px;
        padding-left: 0
    }
    .poc-block.web-experiment-3 {
        height: 200px;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch
    }
    .tabs-menu.quiz-result,
    .tabs.quiz-results.your-fit {
        height: auto
    }
    .img-wrapper {
        position: absolute;
        left: 0;
        top: -107px
    }
    .img-wrapper._4 {
        top: -104px
    }
    .div-block-2 {
        width: 100%
    }
    .tabs.quiz-results {
        height: auto;
        background-image: none;
        background-repeat: repeat
    }
    .logo-container,
    .slide-3 {
        background-repeat: no-repeat
    }
    .tabs-menu {
        padding-top: 20px;
        text-align: center
    }
    .tabs-menu.home {
        left: 0;
        padding-left: 20px;
        text-align: center
    }
    .tabs-menu.your-needs {
        width: 100%;
        max-width: none;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .tabs-menu.draggable {
        overflow: scroll
    }
    .toggle-link {
        display: block;
        height: 40px;
        margin-right: 2px;
        margin-left: 2px;
        padding-top: 8px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        font-size: 16px;
        letter-spacing: 0
    }
    .toggle-link.alone {
        height: 36px;
        margin-bottom: 10px;
        padding-top: 6px;
        font-size: 14px
    }
    .toggle-link.alone.neutral {
        margin-right: 4px;
        margin-left: 0;
        padding-top: 5px
    }
    .toggle-link.radio.fake-radio {
        width: 260px;
        height: auto;
        padding-left: 45px;
        text-align: left
    }
    .heading-4,
    .signup-line {
        text-align: center
    }
    .toggle-link.empty {
        width: 20px;
        background-color: hsla(0, 0%, 90%, 0)
    }
    .pane-content {
        height: 85vw;
        max-height: 320px;
        min-height: 260px
    }
    .pane-content.headaches.exception {
        height: auto;
        background-size: 100vw
    }
    .pane-content.headaches.your-fit {
        background-size: contain, contain
    }
    .pane-content.pinching.exception {
        height: auto;
        background-size: 100vw
    }
    .pane-content.pinching.your-fit {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        background-size: 100vw, 100vw
    }
    .pane-content.nose-bridge.exception {
        height: auto
    }
    .pane-content.nose-bridge.your-fit {
        background-size: contain, contain
    }
    .pane-content.big.your-fit,
    .pane-content.cheeks.your-fit,
    .pane-content.crooked.your-fit,
    .pane-content.distorted.your-fit,
    .pane-content.heavy.your-fit,
    .pane-content.red.your-fit,
    .pane-content.small.your-fit,
    .pane-content.stretching.your-fit,
    .pane-content.thick.your-fit {
        background-size: 100vw, 100vw
    }
    .pane-content.slipping.exception {
        height: auto;
        padding-top: 194px
    }
    .pane-content.slipping.your-fit {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        background-size: 100vw, 100vw
    }
    .pane-content.cheeks {
        width: 100vw
    }
    .pane-content.cheeks.exception {
        height: auto
    }
    .pane-content.cheeks.your-fit {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .pane-content.stretching.exception {
        height: auto
    }
    .pane-content.red.exception {
        height: auto
    }
    .pane-content.crooked.exception {
        height: auto
    }
    .pane-content.small.exception {
        height: auto
    }
    .pane-content.big.exception {
        height: auto;
        background-position: 100% 0
    }
    .pane-content.thick.exception {
        height: auto
    }
    .pane-content.distorted.exception,
    .pane-content.heavy.exception {
        height: auto
    }
    .pane-content.your-needs {
        height: auto;
        max-height: none;
        min-height: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        background-image: none
    }
    .pane-content.your-needs.computer-glasses,
    .pane-content.your-needs.gym,
    .pane-content.your-needs.material-quality {
        background-size: 370px
    }
    .tabs-content-2 {
        margin-top: 0
    }
    .tabs-content-2.assessment-page {
        background-size: 100vw
    }
    .tabs-content-2.assessment-page.your-needs {
        left: 0;
        top: 0;
        bottom: auto;
        padding-right: 20px;
        padding-bottom: 0;
        padding-left: 20px;
        background-image: none
    }
    .pane-copy-2 {
        left: 0;
        display: block;
        width: 100%;
        padding-right: 10px;
        padding-left: 10px
    }
    .pane-copy-2.assessment-page {
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .pane-copy-2.assessment-page.your-needs {
        padding-right: 0;
        padding-left: 0
    }
    .image-2 {
        left: 132px
    }
    .container-table {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .div-block-3 {
        margin-bottom: 50px
    }
    .frame {
        width: 100%;
        background-size: cover;
        height: auto;
    }
    .frame.fr3 {
        background-position: 50% 0;
        background-size: cover
    }
    .text-block-3.inverse {
        line-height: 32px
    }
    .dropdown-list.w--open {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .image-4 {
        top: 176px;
        right: -47px;
        display: none
    }
    .text-block-4 {
        top: 2px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        font-size: 14px
    }
    .div-block-6 {
        overflow: visible;
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .div-block-7 {
        height: 69vw
    }
    .div-block-7.shifted {
        width: 85%;
        height: 57vw;
        margin-top: -1px;
        margin-bottom: 10px
    }
    .div-block-7.first {
        width: 85%;
        height: 57vw;
        margin-top: 4px;
        margin-bottom: 40px
    }
    .div-block-8 {
        margin-bottom: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .testimonial-body {
        padding-right: 10px;
        padding-left: 10px
    }
    .slider-2 {
        height: 266px
    }
    .logo-container {
        width: 100%
    }
    .logo-container.l4,
    .logo-container.l5 {
        background-size: 249px
    }
    .slide-3,
    .slide-3.bg3 {
        background-size: contain;
        background-position: 50% 50%
    }
    .div-block-10 {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .div-block-10.footer-block-10 {
        padding-left: 0
    }
    .footer-cell {
        width: 100%
    }
    .footer-cell.larger {
        height: 145px;
        padding-right: 0;
        padding-left: 0
    }
    .footer-cell-col {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-right: 9px;
        padding-left: 9px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .link {
        left: 0;
        z-index: 1000;
        overflow: visible;
        width: 100%;
        padding-right: 0
    }
    .text-field {
        width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .submit-button {
        padding-right: 16px;
        padding-left: 16px
    }
    .heading-5 {
        display: block;
        padding-right: 21px;
        padding-left: 21px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 26px;
        line-height: 35px
    }
    .footer-cell-1,
    .row {
        -webkit-flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse
    }
    .heading-5.quiz {
        margin-bottom: 10px;
        font-size: 42px;
        line-height: 80px
    }
    .div-block-15 {
        margin-top: 0
    }
    .image-7 {
        display: none
    }
    .footer-cell-1 {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .section-2 {
        display: block;
        height: 100vh
    }
    .section-2.home {
        height: auto
    }
    .slider-3 {
        height: 60vh;
        background-color: #f6f6f6
    }
    .icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 24px;
        height: 24px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 12px;
        background-color: #65f;
        font-size: 13px;
        font-weight: 700
    }
    .slide-nav-3 {
        font-size: 6px
    }
    .slide-3 {
        background-image: url(img/5ac4d1b6485eed858a784997_v1@2x.jpg)
    }
    .slide-3.bg3 {
        background-color: #fff
    }
    .slide-4 {
        background-image: url(img/5ac4d1b66484cf4c383eb17c_v2@2x.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat
    }
    .slide-5,
    .slide-6 {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%
    }
    .slide-5 {
        background-color: #f7f5f8;
        background-image: url(img/5ac4d1b6b50fc96186e678ab_v3@2x.jpg)
    }
    .slide-6 {
        background-image: url(img/5ac4d1b6485eed61bc784996_v5@2x.jpg)
    }
    .slide-7 {
        background-image: url(img/5ac4d1b6c3ce7d2f36d12a07_v4@2x.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat
    }
    .slide-10,
    .slide-8,
    .slide-9 {
        background-size: contain;
        background-repeat: no-repeat
    }
    .slide-8 {
        background-image: url(img/5ac4d1b60012b0314d784590_v7@2x.jpg);
        background-position: 50% 50%
    }
    .content-page-heading {
        font-size: 26px;
        line-height: 35px
    }
    .image-8 {
        display: none
    }
    .image-8.internal {
        display: block;
        width: 102px
    }
    .div-block-20 {
        margin-top: 0
    }
    .accordion-placeholder {
        display: block
    }
    .accordion-item-header {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .accordion-column {
        padding-top: 0
    }
    .floating-secondary-image {
        left: auto;
        top: 234px;
        right: 12px;
        display: block;
        width: 31%;
        height: 27vw
    }
    .floating-secondary-image.inverse {
        left: auto;
        top: 383px;
        right: 10px;
        display: block
    }
    .row {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .row.open {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }
    .copy-list.flex,
    .static-flexed-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    .slide-9 {
        background-image: url(img/5ac4d1b60012b0087e784591_v6@2x.jpg);
        background-position: 50% 50%
    }
    .slide-10 {
        background-image: url(img/5ac4d1b6bbe2f55fedd2c504_v8@2x.jpg);
        background-position: 100% 50%
    }
    .section-3 {
        display: none
    }
    .image-9 {
        display: flex;
        float: left;
        filter: invert(0.2);
        height: 40px;
        padding: 0 6px;
    }
    .back-to-top-link {
        display: none
    }
    .radio-link {
        display: inline-block;
        height: 40px;
        margin-right: 2px;
        margin-left: 2px;
        padding-top: 6px;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 16px;
        letter-spacing: 0
    }
    .radio-link.alone {
        height: 36px;
        margin-bottom: 10px;
        padding-top: 6px;
        font-size: 14px
    }
    .radio-link.alone.neutral {
        margin-right: 4px;
        margin-left: 0
    }
    .button-2.primary,
    .warning {
        display: block;
        margin-right: auto
    }
    .image-1 {
        left: -196px
    }
    .checkbox-field.masked {
        background-image: none;
        background-position: 0 0;
        background-size: auto;
        background-repeat: repeat
    }
    .fakebox-wrapper {
        padding-right: 0
    }
    .checkbox {
        left: 0
    }
    .signup-line {
        padding-right: 33px;
        padding-left: 33px;
        line-height: 25px
    }
    .image-12 {
        left: 132px
    }
    .button-2.primary {
        width: 100%;
        margin-left: auto;
        padding-top: 12px
    }
    .button-2.primary.home {
        height: auto
    }
    .warning {
        margin-left: auto
    }
    .exception {
        background-size: 100vw
    }
    .div-block-23.web-experiment {
        padding-left: 0
    }
    .div-block-24 {
        width: 20px;
        height: 20px
    }
    .div-block-24.case {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        background-color: #fff
    }
    .hidden-text {
        display: none
    }
    .fake-radio-toggle {
        left: 2px;
        top: 11px
    }
    .your-fit {
        height: 87vw;
        min-height: 617px;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .text-block-8 {
        display: inline-block
    }
    .image-15 {
        width: 95%
    }
    .static-hero {
        width: auto;
        height: 130px
    }
    .static-hero.layout-2 {
        height: auto;
        padding-top: 0;
        padding-right: 20px;
        padding-left: 20px
    }
    .static-hero.ashley-2 {
        background-position: 60% 0
    }
    .static-hero.man-2 {
        background-position: 49% 0
    }
    .static-hero.gifting {
        height: 100vh;
        background-position: -284px 0
    }
    .static-hero.press {
        height: 100vh
    }
    .static-hero-half-container {
        max-width: 110%
    }
    .static-title-1 {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 34px
    }
    .static-hero-subtitle {
        font-size: 20px;
        line-height: 26px
    }
    .static-title-2 {
        font-size: 30px;
        line-height: 38px
    }
    .static-section {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .static-button.primary,
    .static-dark-button.primary {
        height: auto;
        margin-right: auto;
        padding-bottom: 10px;
        display: block
    }
    .static-title-3 {
        font-size: 26px;
        line-height: 34px
    }
    .static-title-4 {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 34px
    }
    .static-subtitle {
        font-size: 16px;
        line-height: 24px
    }
    .static-copy.solo {
        min-height: 0
    }
    .static-info-bloc-2 {
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .static-button.primary {
        width: 100%;
        margin-left: auto;
        padding-top: 10px;
        line-height: 24px
    }
    .static-button.detailed {
        margin-bottom: 40px
    }
    .static-button.main-dl {
        position: relative;
        top: 0;
        right: 21px;
        width: 135px;
        padding-top: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .static-button.main-dl.occurence {
        position: relative;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left
    }
    .static-flexed-container {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .static-dark-button.primary {
        width: 100%;
        margin-left: auto;
        padding-top: 10px;
        line-height: 24px
    }
    .static-dark-button.detailed {
        margin-bottom: 40px
    }
    .static-dark-button.main-dl {
        position: relative;
        top: 0;
        right: 21px;
        width: 135px;
        padding-top: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .static-dark-button.main-dl.occurence {
        position: relative;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left
    }
    .image-17 {
        display: block
    }
    .copy-primary-link {
        font-size: 18px
    }
    .static-big-copy {
        font-size: 18px;
        line-height: 24px;
        text-align: center
    }
    .static-big-copy.light.inline {
        font-size: 14px;
        line-height: 22px
    }
    .static-big-copy.list-item {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 22px
    }
    .static-big-copy.list-item.centered {
        font-size: 18px;
        line-height: 28px
    }
    .static-big-copy.press {
        padding-right: 24px;
        padding-left: 24px
    }
    .collection-item-2,
    .padded {
        padding-right: 0;
        padding-left: 0
    }
    .unicode-dot.absolute {
        position: absolute;
        top: 13px;
        font-size: 10px
    }
    .copy-list.flex {
        padding-top: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .copy-list._2cols-copy-list {
        -webkit-column-count: 1;
        column-count: 1
    }
    .purple-small-text {
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 30px
    }
    .split-up-section-cell {
        min-height: 420px
    }
    .div-block-26 {
        margin-bottom: 40px
    }
    .image-21 {
        height: 150px
    }
    .image-21.shift-left {
        left: -21px
    }
    .teaser-title {
        margin-top: 0
    }
    .header-container {
        height: 100px
    }
    .link-block-2 {
        margin-top: 40px
    }
    .static-hero-2.layout-2,
    .static-hero-2.layout-3 {
        padding-top: 0;
        padding-right: 20px;
        padding-left: 20px
    }
    .static-hero-2 {
        width: auto;
        height: 130px
    }
    .static-hero-2.layout-2 {
        height: auto
    }
    .static-hero-2.ashley-2 {
        background-position: 60% 0
    }
    .static-hero-2.man-2 {
        background-position: 49% 0
    }
    .static-hero-2.gifting {
        height: 100vh;
        background-position: -284px 0
    }
    .static-hero-2.press {
        height: 100vh
    }
    .static-hero-2.layout-3 {
        height: auto;
        background-position: 0 0
    }
    .heading-8,
    .heading-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .w-container {
        max-width: none;
    }
    h5 {
        margin-bottom: 12px;
    }
    .footer-bottom {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-bottom-text-left {
        width: 100%;
        margin-bottom: 8px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .footer-bottom-link-right {
        margin-right: 16px;
        margin-left: 0px;
    }
    .footer-v2-column {
        width: 50%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .w-hidden-medium {
        display: inherit !important;
    }
    .w-hidden-small {
        display: inherit !important;
    }
    .w-hidden-tiny {
        display: none !important;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .w-hidden-main {
        display: inherit !important;
    }
   
    .review-slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .review-avatar {
        margin-bottom: 8px;
    }
    .review-content {
        padding-left: 0px;
        text-align: center;
    }
    .review-author-info {
        font-size: 10px;
    }
    .testimonials {
        padding-right: 24px;
        padding-left: 24px;
    }
    .copy {
        color: #000;
        text-align: left;
    }
    .copy.left {
        text-align: left;
    }
    .flex-box-div {
        margin-right: auto;
        margin-left: auto;
    }
}