@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px
    }
    .w-hidden-main {
        display: inherit !important
    }
    .w-hidden-medium {
        display: none !important
    }
    .w-col-medium-1 {
        width: 8.33333333%
    }
    .w-col-medium-2 {
        width: 16.66666667%
    }
    .w-col-medium-3 {
        width: 25%
    }
    .w-col-medium-4 {
        width: 33.33333333%
    }
    .w-col-medium-5 {
        width: 41.66666667%
    }
    .w-col-medium-6 {
        width: 50%
    }
    .w-col-medium-7 {
        width: 58.33333333%
    }
    .w-col-medium-8 {
        width: 66.66666667%
    }
    .w-col-medium-9 {
        width: 75%
    }
    .w-col-medium-10 {
        width: 83.33333333%
    }
    .w-col-medium-11 {
        width: 91.66666667%
    }
    .w-col-medium-12 {
        width: 100%
    }
    .w-col-stack {
        width: 100%;
        left: auto;
        right: auto
    }
    .w-nav[data-collapse=medium] .w-dropdown,
    .w-nav[data-collapse=medium] .w-dropdown-toggle {
        display: block
    }
    .w-nav[data-collapse=medium] .w-dropdown-list {
        position: static
    }
    .w-nav[data-collapse=medium] .w-nav-menu {
        display: none
    }
    .w-nav[data-collapse=medium] .w-nav-button {
        display: block
    }
    .pane-content.default,
    .static-copy.solo,
    .static-title-5.resources {
        min-height: 0
    }
    ._1200-container {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px
    }
    ._1200-container.flex {
        width: 770px;
        min-height: 0;
        margin-bottom: 10px;
        padding-top: 48px;
        padding-right: 22px;
        padding-left: 22px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }
    ._1200-container.flex.promise-container {
        display: block;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left
    }
    ._1200-container.flex.editorial {
        max-width: none;
        padding-right: 20px;
        padding-left: 20px
    }
    ._1200-container.flex.top {
        position: relative;
        width: 100%;
        padding-top: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left
    }
    ._1200-container.footer.app,
    ._1200-container.your-prescription,
    .block-line,
    .floating-cell._7col.prescription.flex,
    .floating-cell.h1._7col,
    .section.header.home {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    ._1200-container.light.our-eyewear {
        width: 770px;
        padding-top: 0;
        padding-right: 20px;
        padding-left: 20px
    }
    ._1200-container.quiz.your-needs,
    .section.header {
        padding-left: 0;
        padding-right: 0
    }
    ._1200-container.light.gal {
        overflow: hidden;
        max-width: none
    }
    ._1200-container.light.how {
        width: 770px;
        padding-top: 0
    }
    ._1200-container.upper {
        overflow: hidden;
        width: 770px;
        margin-top: 0
    }
    ._1200-container.upper.for-quiz {
        margin-top: 0
    }
    ._1200-container.footer.app {
        height: auto;
        margin-top: 0;
        padding-top: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    ._1200-container.home-header-content {
        padding-right: 0;
        padding-left: 0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    ._1200-container.your-prescription {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    ._1200-container.your-prescription.intro {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .section {
        overflow: hidden
    }
    .section.header {
        height: 890px;
        background-color: #fff;
        background-position: 82% 100%;
        background-size: auto 550px;
        background-repeat: no-repeat
    }
    .section.header.home {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-size: auto;
    }
    .section.lined.promise {
        padding-top: 32px;
        background-image: url(img/varilux-bg-1.jpg);
        background-position: 62% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 16px;
        margin-left: 16px;
        border: none !important;
        box-shadow: 0 30px 48px -1px rgba(0, 0, 0, .09);
        border-radius: 14px;
    }
    .section.lined.testimonial {
        padding-top: 40px;
        padding-bottom: 0
    }
    .section.galery,
    .section.quotes {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .section.footer.assessment-page {
        z-index: 2000;
        display: inline-block;
        overflow: visible
    }
    .section.footer.assessment-page.web-experiment {
        position: relative;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 50px;
        background-position: -124px 0;
        background-size: cover
    }
    .poc-block,
    .poc-block.pb2,
    .poc-block.pb3,
    .poc-block.pb4 {
        background-size: 350px
    }
    .section.quiz,
    .section.quiz.light {
        overflow: hidden
    }
    .body {
        background-image: none;
        background-position: 0 0;
        background-repeat: repeat
    }
    .static-hero,
    .static-hero-2 {
        background-repeat: no-repeat
    }
    .floating-cell {
        display: block;
        margin-right: auto;
        margin-left: auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .floating-cell.h1._7col {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }
    .floating-cell._7col.gaped {
        width: 320px;
        margin-left: 0;
        padding-right: 0;
        padding-left: 62px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .floating-cell._7col.vision {
        width: 100%;
        padding-top: 0;
        padding-left: 0
    }
    .floating-cell._7col.shifted.inverse {
        right: 0
    }
    .floating-cell._7col.edito-header,
    .floating-cell._7col.edito-header.inverse {
        width: 100%;
        padding-right: 64px;
        padding-left: 64px
    }
    .floating-cell._7col.edito-body.inverse {
        width: 100%;
        margin-left: 0;
        padding-right: 191px;
        padding-left: 64px
    }
    .button.main-dl,
    .floating-cell.top,
    .primary-action {
        margin-left: auto;
        margin-right: auto
    }
    .floating-cell._7col.edito-body {
        width: 100%;
        padding-right: 65px;
        padding-left: 251px
    }
    .floating-cell._7col.prescription {
        padding-left: 64px
    }
    .floating-cell._7col.prescription.flex {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .floating-cell._7col.warning-section {
        width: 100%;
        padding-left: 67px
    }
    .floating-cell._7col.solo-illustration {
        width: 100%
    }
    .floating-cell.vision.left {
        position: static;
        width: 100%;
        padding-left: 0;
        text-align: left
    }
    .floating-cell.top {
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .heading-8 {
        margin: 20px
    }
    .floating-cell.top .brand {
        margin: auto
    }
    .button.main-dl,
    .tabs-menu.home.draggable {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }
    .button.primary.static-centered-section {
        margin-top: 20px
    }
    .button.detailed {
        position: absolute;
        top: 106px;
        right: 16px;
        background-color: #fff
    }
    .button.main-dl {
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        width: 204px
    }
    .button.main-dl.occurence {
        position: relative;
        bottom: 0;
        width: auto;
        margin-top: 20px
    }
    .button.main-dl.app-section {
        position: relative;
        margin-top: 80px
    }
    .primary-action {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 20px 0;
        display: block;
        width: 350px
    }
    .primary-action.layout-2,
    .primary-action.symptoms-cta {
        position: relative;
        bottom: 0
    }
    .primary-action.symptoms-cta.demo {
        text-align: center
    }
    .primary-action.layout-2 {
        margin-left: 0
    }
    .submentions {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 7px;
        padding-bottom: 20px;
        background-color: #222
    }
    .div-block-7,
    .image-5,
    .image-7,
    .submentions.results {
        position: relative
    }
    .submentions.results {
        background-color: rgba(34, 34, 34, 0)
    }
    .copy.bold.main {
        margin-bottom: 0;
        color: #dadada;
        font-size: 16px;
        font-weight: 300;
        text-shadow: none
    }
    .copy.semilight.aligned.subtext,
    .div-block-3 {
        margin-bottom: 20px
    }
    .copy.light {
        display: inline-block;
        color: #d3d3d3;
        font-size: 14px;
        line-height: 18px
    }
    .copy-primary-link:hover,
    .nav-link {
        color: #fff
    }
    .copy.light.tab.default.demo-subtitle {
        margin-top: 0;
        padding-right: 0;
        text-align: center
    }
    .copy.semilight,
    .heading-2.panes.centered {
        text-align: left
    }
    .copy.light.tab.ap {
        width: 100%;
        max-width: none;
        line-height: 26px
    }
    .copy.light.tab.ap.prescription,
    .copy.light.tab.ap.title {
        width: 100%
    }
    .heading-2.what.compact.demo-version,
    .heading-2.what.compact.demo-version.quiz {
        text-align: center
    }
    .heading-2.what.compact.left.light {
        width: 100%;
        margin-top: 40px;
        font-size: 32px;
        line-height: 40px;
        text-align: center
    }
    .heading-2.our-eyewear-heading {
        padding-right: 59px;
        padding-left: 59px
    }
    .heading-2.edito.quote {
        position: relative;
        z-index: 10;
        margin-top: 0
    }
    .heading-2.edito.quote.inverse {
        padding-right: 20px;
        text-align: right
    }
    .heading-2.slider-quote {
        padding-right: 117px;
        padding-left: 117px
    }
    .block-line {
        clear: none;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left
    }
    .pane-content.your-needs,
    .tabs {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical
    }
    .heading-5,
    .logo-container,
    .text-block-3.inverse {
        text-align: center
    }
    .poc-block {
        width: 100%;
        height: 266px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-position: 0 50%
    }
    .poc-block.pb2 {
        padding-left: 19px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .poc-block.pb3 {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .poc-block.pb4 {
        padding-left: 20px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .div-block {
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end
    }
    .tabs {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .tabs.quiz-results {
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        background-image: none
    }
    .tabs-menu {
        display: block;
        width: 770px;
        max-width: none;
        margin-right: auto;
        margin-left: auto;
        padding-right: 32px;
        padding-left: 32px
    }
    .tabs-menu.home {
        margin-left: 0;
        padding-left: 32px
    }
    .tabs-menu.home.draggable {
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .tabs-menu.quiz-result,
    .tabs-menu.your-needs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        overflow: scroll
    }
    .tabs-menu.quiz-result {
        display: flex;
        margin-bottom: 20px
    }
    .tabs-menu.your-needs {
        display: flex;
        width: 100%;
        max-width: none;
        padding-left: 20px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .tabs-menu.draggable.quiz {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-left: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center
    }
    .toggle-link {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
    .toggle-link.empty {
        opacity: 0
    }
    .pane-content {
        width: 100%;
        height: 60vw
    }
    .pane-content.pc6 {
        width: 100%;
        background-position: 100% 0
    }
    .pane-content.pinching.exception {
        background-size: 85vw
    }
    .pane-content.pinching.your-fit {
        height: 480px;
        background-size: 85vw, 85vw
    }
    .pane-content.slipping.your-fit {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        background-size: 85vw, 85vw
    }
    .pane-content.big.your-fit,
    .pane-content.cheeks.your-fit,
    .pane-content.crooked.your-fit,
    .pane-content.distorted.your-fit,
    .pane-content.heavy.your-fit,
    .pane-content.red.your-fit,
    .pane-content.small.your-fit,
    .pane-content.stretching.your-fit,
    .pane-content.thick.your-fit {
        background-size: 85vw, 85vw
    }
    .pane-content.your-needs {
        display: block;
        width: 100%;
        height: 484px;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        background-position: 50% 100%
    }
    .pane-content.your-needs.material-quality {
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .tabs-content-2 {
        width: 100%
    }
    .tabs-content-2.assessment-page {
        margin-top: 0;
        background-size: 85vw
    }
    .tabs-content-2.assessment-page.your-needs {
        margin-top: 0
    }
    .pane-copy-2 {
        max-width: none;
        padding-right: 82px;
        padding-left: 82px
    }
    .pane-copy-2.assessment-page {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding-right: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .pane-copy-2.assessment-page.your-needs {
        top: 0;
        width: 100%;
        margin-top: 0;
        padding-right: 20px;
        padding-left: 20px
    }
    .heading-4.web-experiment {
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
    .container-table {
        padding-right: 0;
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .container-table.gallery {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .div-block-3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }
    .frame {
        width: 88%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .image-3 {
        left: 77px;
        top: -33px;
        bottom: 26px
    }
    .galery-block {
        width: 17%;
        height: 210px
    }
    .galery-block.c3.last.bis {
        width: 28%
    }
    .galery-block.c2.last {
        width: 21%
    }
    .galery-block.c5,
    .galery-block.c5.bis {
        width: 43%
    }
    .galery-block.c0 {
        width: 37%
    }
    .div-block-7 {
        z-index: 0;
        width: 100%;
        margin-left: 0
    }
    .div-block-7.shifted {
        margin-top: 62px;
        margin-bottom: 30px
    }
    .div-block-7.first {
        margin-bottom: 68px
    }
    .collection-list-wrapper {
        width: 100%
    }
    .slider-2 {
        height: 349px
    }
    .logo-container {
        width: 248px;
        background-position: 50% 50%
    }
    .div-block-10.footer-block-10 {
        padding-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .exception,
    .split-up-section,
    .static-hero-half-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    .footer-cell {
        width: 50%
    }
    .footer-cell.larger {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 69px;
        padding-left: 69px
    }
    .image-5 {
        top: 13px
    }
    .footer-cell-col {
        width: 342px
    }
    .heading-5 {
        padding-right: 0
    }
    .image-6 {
        left: 0
    }
    .div-block-11,
    .div-block-12,
    .div-block-13 {
        padding-left: 20px
    }
    .div-block-14,
    .div-block-16 {
        padding-right: 64px;
        padding-left: 64px;
        width: 100%
    }
    .div-block-15 {
        display: none;
        margin-top: 0;
        margin-bottom: 40px
    }
    .exception,
    .icon-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }
    .image-7 {
        left: -239px
    }
    .footer-cell-1 {
        width: 100%
    }
    .nav-link {
        background-color: #222;
        text-align: right
    }
    .content-page-heading,
    .div-block-23,
    .icon-2 {
        text-align: center
    }
    .image-8 {
        margin-bottom: 0
    }
    .div-block-20 {
        margin-top: 0
    }
    .floating-secondary-image {
        position: absolute;
        left: auto;
        top: auto;
        right: 10px;
        bottom: 660px;
        z-index: 300;
        width: 230px;
        margin-left: 0
    }
    .floating-secondary-image.inverse {
        top: 197px;
        right: 45px;
        bottom: auto
    }
    .back-to-top-link {
        left: 20px
    }
    .image-12 {
        left: 238px
    }
    .warning {
        width: auto;
        margin-left: 67px
    }
    .image-20,
    .static-button.main-dl,
    .static-dark-button.main-dl {
        margin-right: auto;
        margin-left: auto
    }
    .div-block-21 {
        margin-bottom: 20px
    }
    .div-block-22 {
        width: 100%;
        padding-right: 130px
    }
    .exception {
        display: flex;
        padding-top: 342px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-size: 85vw
    }
    .div-block-23 {
        padding-left: 0
    }
    .div-block-23.web-experiment {
        margin-top: 0;
        padding-top: 0;
        padding-left: 360px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto
    }
    .your-fit {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .image-15 {
        width: 50vw
    }
    .menu-button {
        height: 100%;
        padding: 0
    }
    .navbar-inner {
        height: 85px;
        padding-left: 20px
    }
    .icon-2 {
        display: flex;
        width: auto;
        height: 85px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 44px
    }
    .menu-button-2,
    .static-hero-half-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }
    .menu-button-2 {
        display: flex;
        width: 85px;
        height: 85px;
        padding: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: rgba(34, 34, 34, 0)
    }
    .static-centered-section,
    .static-centered-section-960,
    .static-info-bloc {
        width: 100%
    }
    .static-hero,
    .static-hero.layout-2 {
        padding-right: 30px;
        padding-left: 30px
    }
    .menu-button-2.w--open {
        background-color: #222
    }
    .static-hero {
        height: 295px
    }
    .static-hero.parker {
        background-position: 50% 0, 0 0
    }
    .static-hero.ashley-2 {
        background-position: 50% 0
    }
    .static-hero.man-2 {
        background-position: 29% 0
    }
    .static-hero.gifting {
        background-position: -108px 0;
        background-size: cover
    }
    .static-hero.press {
        height: 100vh;
        background-position: 50% 0
    }
    .static-hero-half-container {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .static-hero-cta {
        text-align: left
    }
    .section-gradient {
        padding: 80px 21px
    }
    .static-title-2 {
        font-size: 50px;
        line-height: 58px
    }
    .static-title-2.title-padded-right {
        padding-right: 0
    }
    .static-centered-section.padded {
        padding-right: 63px;
        padding-left: 63px
    }
    .static-section {
        overflow: hidden;
        padding: 40px 20px
    }
    .static-section.dark {
        padding-top: 40px
    }
    .static-section.padded {
        padding: 40px 20px
    }
    .static-info-bloc.style {
        margin-top: 142px
    }
    .static-copy.padded {
        padding-right: 0;
        padding-left: 0
    }
    .static-info-bloc-2 {
        padding-bottom: 40px
    }
    .static-button.detailed {
        position: absolute;
        top: 106px;
        right: 16px;
        background-color: #fff
    }
    .static-button.main-dl {
        position: relative;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 204px
    }
    .static-button.main-dl.occurence {
        position: relative;
        bottom: 0;
        margin-top: 20px
    }
    .static-button.main-dl.app-section {
        position: relative;
        margin-top: 80px
    }
    .static-flexed-container {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .static-section-shadow {
        padding-top: 80px;
        padding-right: 20px;
        padding-left: 20px
    }
    .static-title-5.column-title {
        display: block;
        margin-bottom: 10px
    }
    .static-dark-button.detailed {
        position: absolute;
        top: 106px;
        right: 16px;
        background-color: #fff
    }
    .static-dark-button.main-dl {
        position: relative;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 204px
    }
    .static-dark-button.main-dl.occurence {
        position: relative;
        bottom: 0;
        margin-top: 20px
    }
    .static-dark-button.main-dl.app-section {
        position: relative;
        margin-top: 80px
    }
    .static-info-block-2 {
        margin-top: 20px
    }
    .static-info-block-2.shifted-down {
        margin-top: 35px
    }
    .static-big-copy {
        text-align: center
    }
    .static-big-copy.press {
        padding-right: 69px;
        padding-left: 69px
    }
    .padded.padded-top {
        padding-top: 40px
    }
    .split-up-section {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .split-up-section-cell {
        width: 100%;
        min-height: 620px
    }
    .image-20 {
        display: block
    }
    .image-21.exception {
        padding-top: 0
    }
    .form-3 {
        padding-right: 127px;
        padding-left: 127px
    }
    .copy-block.copy-padded-right {
        padding-right: 0
    }
    .static-960-section {
        width: 100%
    }
    .div-block-111 {
        padding-left: 20px
    }
    .static-hero-2,
    .static-hero-2.layout-2,
    .static-hero-2.layout-3 {
        padding-right: 30px;
        padding-left: 30px
    }
    .image-25 {
        display: inline-block;
        direction: ltr;
        text-align: left
    }
    .static-hero-2 {
        height: 295px
    }
    .static-hero-2.parker {
        background-position: 50% 0, 0 0
    }
    .static-hero-2.ashley-2 {
        background-position: 50% 0
    }
    .static-hero-2.man-2 {
        background-position: 29% 0
    }
    .static-hero-2.gifting {
        background-position: -108px 0;
        background-size: cover
    }
    .static-hero-2.press {
        height: 100vh;
        background-position: 50% 0
    }
    .static-hero-2.layout-3 {
        background-position: 50% 0
    }
    h5 {
        font-size: 16px;
        line-height: 24px;
    }
    p {
        font-size: 15px;
    }
    .footer-bottom {
        margin-right: 8px;
        margin-left: 8px;
    }
    .footer-v4-about {
        margin-left: 0%;
        padding-right: 32px;
        padding-left: 8px;
    }
    .footer-v2-column {
        padding-right: 8px;
        padding-left: 8px;
    }
    .vertical-scroll-footer {
        right: 8px;
        display: none;
        color: lightgrey
    }
    .container {
        padding-right: 50px;
        padding-left: 50px;
    }
    .play-button__triangle {
        left: 0;
    }
    .image-section.testimonials-section {
        padding: 20px 0 0 0;
    }
    .review-slide {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .review-avatar {
        width: 80px;
        height: 80px;
    }
    .review-content {
        padding-left: 32px;
    }
    .review-text {
        font-size: 17px;
        line-height: 24px;
    }
    .testimonials {
        padding-right: 120px;
        padding-left: 120px;
    }
    .slider-arrow {
        margin-left: 24px;
    }
    .copy {
        text-align: left;
    }
    .copy.left {
        text-align: left;
    }
}